/*
  This file will contain all styles that should be applied to all pages. To apply the styles to tags, ensure to use the className attribute with the name of the CSS class defined here.
  As we are using Grommet, we will not be able to use normal JSX/HTML tags to apply styles globally. Instead, we will need to apply the styles by CSS classes.
  To create a new style, add a period with the class name in camelCase as shown below:

  .styleName {
    key: value;
  }

  Applying style to tag:
    <tag className="styleName"></tag>
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.blackFont {
  color: black;
}

.myTheme {
  color: turquoise;	
 }
 
.backgroundColour {
  background-color: #30D5C8;
  padding: 20px 100px 100px;
  height: 100%;
  z-index: 1;
  color:black;
}

.outerBackground {
  background-color: #87ceff;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.innerBackground {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
}

.headerFont {
  font-family: Arial;
  font-size: 60px;
  color: yellow;
}

* {
  box-sizing: border-box;
}
